<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cooee.phenix"
    android:versionCode="44169"
    android:versionName="V1.1.0.44169.20170711" >

    <!-- uses-sdk start -->
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    <!-- uses-sdk end -->


    <!-- permission start -->
    <permission
        android:name="com.cooee.phenix.permission.PRELOAD_WORKSPACE"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="system|signature" />
    <permission
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
        android:description="@string/permdesc_install_shortcut"
        android:label="@string/permlab_install_shortcut"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"
        android:description="@string/permdesc_uninstall_shortcut"
        android:label="@string/permlab_uninstall_shortcut"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.cooee.phenix.permission.READ_SETTINGS"
        android:description="@string/permdesc_read_settings"
        android:label="@string/permlab_read_settings"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />
    <permission
        android:name="com.cooee.phenix.permission.WRITE_SETTINGS"
        android:description="@string/permdesc_write_settings"
        android:label="@string/permlab_write_settings"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />
    <permission
        android:name="com.cooee.phenix.permission.RECEIVE_LAUNCH_BROADCASTS"
        android:protectionLevel="signature" />
    <!-- permission end -->


    <!-- uses-permission start -->
    <!-- zhangzhiyuan 抢占桌面 [grab]  start -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- zhangzhiyuan 抢占桌面 [grab]  end -->

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.cooee.phenix.permission.READ_SETTINGS" />
    <uses-permission android:name="com.cooee.phenix.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.cooee.phenix.permission.RECEIVE_LAUNCH_BROADCASTS" />

    <!-- shell 注册权限开始 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- shell 注册权限结束 -->


    <!-- ME_RTFSC  start -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- ME_RTFSC  end -->


    <!-- kepush start -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.CREATE_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <!-- kepush end -->


    <!-- 新闻页 start -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 新闻页 end -->


    <!-- 相机页权限 yangtianyu add start -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 相机页权限 yangtianyu add end -->


    <!-- //kuso add start -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_SMS" /> -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- //kuso add end -->


    <!-- 添加运营需要的权限 end -->
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <!-- 添加运营需要的权限 end -->


    <!-- 运营需求 start -->
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 运营需求 end -->


    <!-- 广告需求 start -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 广告需求 end -->

    <uses-permission android:name="com.android.launcher.permission.CREATE_SHORTCUT" />

    <!-- lvjiangbin ADD begin Favorites -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- lvjiangbin ADD end Favorites -->
    <!-- uses-permission end -->


    <!-- instrumentation start -->
    <!-- add by liuhailin begin //单元测试 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Test"
        android:targetPackage="com.cooee.phenix" />
    <!-- add by liuhailin end //单元测试 -->
    <!-- instrumentation end -->


    <!-- application start -->
    <application
        android:name="com.cooee.phenix.LauncherApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_home"
        android:label="@string/app_name"
        android:largeHeap="@bool/config_largeHeap"
        android:supportsRtl="true" >

        <!-- uses-library start -->
        <!-- add by liuhailin begin //单元测试 -->
        <uses-library android:name="android.test.runner" />
        <!-- add by liuhailin end //单元测试 -->
        <!-- uses-library end -->


        <!-- meta-data start -->
        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" />

        <!-- WangLei add start  //添加友盟统计分析功能 -->
        <!-- 配置AppKey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="551ba7b1fd98c5ac2a0001a8" />
        <!-- WangLei add end -->


        <!-- //cheyingkun add start	//phenix1.1稳定版移植酷生活 -->
        <!-- 文件夹推荐应用、搜索、-1屏都是通过读取这个“KMobAd_APP_ID”来控制不同版本的 -->
        <meta-data
            android:name="KMobAd_APP_ID"
            android:value="441" />
        <meta-data
            android:name="TencentMapSDK"
            android:value="5DSBZ-ZMT3F-W2WJH-JBWUI-HMTKS-2DBMN" />
        <!-- //cheyingkun add start	//phenix1.1稳定版移植酷生活 -->
        <!-- meta-data end -->


        <!-- activity start -->
        <!-- configChanges部分 add by yangxiaoming fix bug 0011000 -->
        <activity
            android:name="com.cooee.phenix.Launcher"
            android:clearTaskOnLaunch="true"
            android:configChanges="mcc|mnc|keyboardHidden|orientation|screenSize"
            android:enabled="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:stateNotNeeded="true"
            android:theme="@style/Theme"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.Theme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cooee.phenix.ToggleWeightWatcher"
            android:enabled="@bool/debug_memory_enabled"
            android:icon="@mipmap/ic_launcher_home"
            android:label="@string/toggle_weight_watcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Debugging tools -->
        <activity
            android:name="com.cooee.phenix.MemoryDumpActivity"
            android:enabled="@bool/debug_memory_enabled"
            android:excludeFromRecents="true"
            android:icon="@mipmap/ic_launcher_home"
            android:label="@string/debug_memory_activity"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- //liuhailin add start	//launcher settings -->
        <activity
            android:name="com.cooee.phenix.launcherSettings.LauncherSettingsActivity"
            android:theme="@style/NoTitleBarAndNoOpenExitAnimation" >
        </activity>
        <!-- //liuhailin add end	//launcher settings -->


        <!-- update begin -->
        <activity
            android:name="com.cooee.update.UpdateActivity"
            android:icon="@drawable/uiupdate_launcher_update_icon"
            android:label="@string/launcher_update_activity_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <!-- update end -->


        <!-- shell 注册组件开始 -->
        <activity
            android:name="com.cooee.shell.shell.SdkActivityHullV5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:color/transparent" >
        </activity>
        <activity
            android:name="com.cooee.shell.pay.PayActivityHullV5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.cooee.shell.download.DownloaderActivityHullV5"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.cooee.phenix.Functions.DynamicEntry.OperateActivity"
            android:theme="@style/Disclaimer_dialog" >
        </activity>
        <!-- shell 注册组件结束 -->


        <!-- kepush start -->
        <activity
            android:name="com.kpsh.sdk.KpshActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:taskAffinity="com.kpsh.sdk.callScreen"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- kepush end -->


        <!-- ME_RTFSC  start -->
        <activity
            android:name="com.iLoong.launcher.MList.ApkMangerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.iLoong.launcher.MList.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.cooee.Launcher.main.icon" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iLoong.launcher.MList.MEServiceActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.iLoong.launcher.MList.Main_FirstActivity"
            android:clearTaskOnLaunch="true"
            android:enabled="false"
            android:icon="@drawable/cool_ml_wonderful_game"
            android:label="@string/cool_ml_app_name1"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.cooee.Launcher.small.icon" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iLoong.launcher.MList.Main_SecondActivity"
            android:clearTaskOnLaunch="true"
            android:enabled="false"
            android:icon="@drawable/cool_ml_software"
            android:label="@string/cool_ml_app_name2"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.cooee.Launcher.big.icon" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iLoong.launcher.MList.Main_ThreeActivity"
            android:clearTaskOnLaunch="true"
            android:enabled="false"
            android:icon="@drawable/cool_ml_ku_store"
            android:label="@string/cool_ml_app_name3"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.cooee.Launcher.biger.icon" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iLoong.launcher.MList.Main_FourthActicity"
            android:clearTaskOnLaunch="true"
            android:enabled="false"
            android:icon="@drawable/cool_ml_know"
            android:label="@string/cool_ml_app_name4"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.cooee.Launcher.bigest.icon" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ME_RTFSC  end -->

        <activity
            android:name="com.cooee.phenix.Functions.DynamicEntry.DynamicEntryServiceActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@style/Category_dialog" >
            <intent-filter>
                <action android:name="com.cooee.DynamicEntry.Disclaimer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cooee.framework.function.DynamicEntry.DLManager.DlApkMangerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.cooee.framework.function.DynamicEntry.DLManager.DlNotifyActivity"
            android:exported="true"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.cooee.phenix.Functions.DynamicEntry.Dialog.DynamicEntryDialogActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.buttom_dialog" >
            <intent-filter>
                <action android:name="com.cooee.DynamicEntry.Dialog.Disclaimer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- //kuso add start -->
        <activity
            android:name="com.search.kuso.SearchT9Main"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateUnchanged" >
        </activity>
        <activity
            android:name="com.search.kuso.SearchSettingActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- //kuso add end -->

        <activity
            android:name="com.cooee.phenix.Functions.Category.CategoryEmptyActivity"
            android:exported="true"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.cooee.framework.function.Category.CategoryInstallActivity"
            android:theme="@style/Category_dialog" >
        </activity>

        <!-- //xiatian add start	//德盛伟业需求：添加uni3上的壁纸选择界面，并在系统的壁纸设置界面中显示。 -->
        <activity
            android:name="com.iLoong.launcher.desktop.WallpaperChooser"
            android:enabled="false"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/ic_wallpaper_chooser_uni3"
            android:label="@string/pick_wallpaper"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <action android:name="com.cooee.action.type.LAUNCHER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- //xiatian add end -->


        <!-- //xiatian add start	//设置默认桌面引导（该Activity用来清空之前选择的默认桌面） -->
        <activity
            android:name="com.cooee.framework.function.DefaultLauncher.DefaultLauncherActivity"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- //xiatian add end -->


        <!-- //cheyingkun add start	//是否启动原生壁纸设置界面 -->
        <activity
            android:name="com.android.launcher3.WallpaperPickerActivity"
            android:enabled="false"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@mipmap/ic_wallpaper_chooser_launcher3"
            android:label="@string/pick_wallpaper"
            android:process=":wallpaper_chooser"
            android:theme="@style/Theme.WallpaperPicker" >
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.launcher3.WallpaperCropActivity"
            android:enabled="false"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@mipmap/ic_wallpaper_chooser_launcher3"
            android:label="@string/crop_wallpaper"
            android:process=":wallpaper_chooser"
            android:theme="@style/Theme.WallpaperCropper" >
            <intent-filter>
                <action android:name="android.service.wallpaper.CROP_AND_SET_WALLPAPER" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <!-- //添加配置项“config_custom_wallpapers_path_launcher_3”，launcher3壁纸选择界面的壁纸路径的本地化配置。默认为空。	//xiatian add start -->
            <meta-data
                android:name="LauncherContentProviderAuthority"
                android:value="com.cooee.phenix.center.pub.provider" />
            <!-- //添加配置项“config_custom_wallpapers_path_launcher_3”，launcher3壁纸选择界面的壁纸路径的本地化配置。默认为空。	//xiatian add end -->

        </activity>
        <!-- //cheyingkun add end	//是否启动原生壁纸设置界面 -->


        <!-- //cheyingkun add start	//phenix1.1稳定版移植酷生活 -->
        <activity
            android:name="com.cooee.dynamicload.DLProxyActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="com.cooee.dynamicload.DLProxyActivity" />
            </intent-filter>
        </activity>

        <!-- DL代理组件  start -->
        <activity
            android:name="com.cooee.favorites.AdvanceActivity"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.cooee.favorites.AdvanceActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cooee.favorites.AdvanceActivitySecond"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.cooee.favorites.AdvanceActivitySecond" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cooee.favorites.AdvanceActivityThird"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.cooee.favorites.AdvanceActivityThird" />
            </intent-filter>
        </activity>
        <!-- DL代理组件  end -->


        <!-- 广告 -->
        <activity android:name="com.kmob.kmobsdk.InAppWebView" />
        <activity
            android:name="com.kmob.kmobsdk.AdActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 广告 -->
        <!-- //cheyingkun add end	//phenix1.1稳定版移植酷生活 -->


        <!-- //一键换壁纸	//start -->
        <!-- <activity -->
        <!-- android:name="com.cooee.wallpaper.host.CreatShortcutActivity" -->
        <!-- android:icon="@drawable/onekeychangewallpaper" -->
        <!-- android:label="@string/default_change_wallpaper" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.CREATE_SHORTCUT" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <!-- <activity -->
        <!-- android:name="com.cooee.wallpaper.host.WallpaperMainActivity" -->
        <!-- android:icon="@drawable/onekeychangewallpaper" -->
        <!-- android:label="@string/default_change_wallpaper" -->
        <!-- android:launchMode="singleInstance" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- //一键换壁纸	//end -->

        <activity
            android:name="com.cooee.phenix.util.SystemAction$ResestActivity"
            android:launchMode="singleTask" />
        <!-- activity end -->


        <!-- service start -->
        <service
            android:name="com.cooee.phenix.MemoryTracker"
            android:enabled="@bool/debug_memory_enabled" >
        </service>

        <!-- zhangzhiyuan 抢占桌面 [grab]  start -->
        <service
            android:name="com.cooee.framework.function.Grab.GrabService"
            android:persistent="true" >
        </service>
        <!-- zhangzhiyuan 抢占桌面 [grab]  end -->


        <!-- shell 注册组件开始 -->
        <service
            android:name="com.cooee.shell.shell.SdkServiceHullV5"
            android:process="com.platform.shell.sdk" >
            <intent-filter android:priority="250" >
                <action android:name="com.cooee.shell.action.SdkServiceV5" />
            </intent-filter>
        </service>
        <service
            android:name="com.cooee.shell.pay.PayServiceHullV5"
            android:process="com.platform.shell.pay" >
            <intent-filter android:priority="250" >
                <action android:name="com.cooee.shell.action.PayServiceV5" />
            </intent-filter>
        </service>
        <!-- shell 注册组件结束 -->


        <!-- ME_RTFSC  start -->
        <service
            android:name="com.iLoong.launcher.MList.MeDLProtectionService"
            android:persistent="true"
            android:process="com.iLoong.Second" >
        </service>
        <!-- ME_RTFSC  end -->


        <!-- cheyingkun add start -->
        <!-- 我们自己的统计Statistics -->
        <service
            android:name="com.cooee.statistics.StatisticsServiceNew"
            android:enabled="true"
            android:exported="true" />
        <!-- cheyingkun add end -->


        <!-- 静默下载的service start -->
        <service android:name="cool.sdk.SAManager.SAService" />
        <!-- 静默下载的service end -->


        <!-- //cheyingkun add start	//phenix1.1稳定版移植酷生活 -->
        <service
            android:name="com.cooee.dynamicload.DLProxyService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.cooee.dynamicload.DLProxyService" />
            </intent-filter>
        </service>

        <!-- DL代理组件  start -->
        <service
            android:name="com.cooee.favorites.AdvanceService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.cooee.favorites.AdvanceService" />
            </intent-filter>
        </service>
        <!-- DL代理组件  end -->
        <!-- //cheyingkun add end	//phenix1.1稳定版移植酷生活 -->
        <!-- service end -->


        <!-- receiver start -->
        <!-- zhangzhiyuan 抢占桌面 [grab]  start -->
        <receiver android:name="com.cooee.framework.function.Grab.Receiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- zhangzhiyuan 抢占桌面 [grab]  end -->


        <!-- Intent received used to prepopulate the default workspace. -->
        <receiver
            android:name="com.cooee.phenix.PreloadReceiver"
            android:permission="com.cooee.phenix.permission.PRELOAD_WORKSPACE" >
            <intent-filter>
                <action android:name="com.cooee.phenix.action.PRELOAD_WORKSPACE" />
            </intent-filter>
        </receiver>

        <!-- Intent received used to install shortcuts from other applications -->
        <receiver
            android:name="com.cooee.phenix.InstallShortcutReceiver"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT" >
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <!-- Intent received used to uninstall shortcuts from other applications -->
        <receiver
            android:name="com.cooee.phenix.UninstallShortcutReceiver"
            android:permission="com.android.launcher.permission.UNINSTALL_SHORTCUT" >
            <intent-filter>
                <action android:name="com.android.launcher.action.UNINSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <!-- New user initialization; set up initial wallpaper -->
        <receiver
            android:name="com.cooee.phenix.UserInitializeReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.USER_INITIALIZE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cooee.phenix.PackageChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" >
                </data>
            </intent-filter>
        </receiver>

        <!-- shell 注册组件开始 -->
        <!-- <receiver android:name="cool.sdk.update.manager.UpdateReceiver" > -->
        <!-- <intent-filter android:priority="2147483647" > -->
        <!-- <action android:name="android.intent.action.PACKAGE_REMOVED" /> -->
        <!-- <action android:name="android.intent.action.PACKAGE_ADDED" /> -->
        <!-- <action android:name="android.intent.action.PACKAGE_REPLACED" /> -->


        <!-- <data android:scheme="package" /> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter android:priority="1000" > -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- <action android:name="android.intent.action.PHONE_STATE" /> -->
        <!-- <action android:name="android.intent.action.USER_PRESENT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver android:name="com.cooee.shell.shell.SdkReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <!-- shell 注册组件结束 -->


        <!-- kepush start -->
        <receiver android:name="com.kpsh.sdk.KpshReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.USER_CLEARNOTIFY" />
                <action android:name="android.intent.action.SEND_TO_KPSH" />
                <action android:name="android.intent.action.CHECK_RECEIVER" />
            </intent-filter>
        </receiver>
        <!-- kepush end -->


        <!-- ME_RTFSC  start -->
        <!-- <receiver android:name="cool.sdk.update.manager.UpdateReceiver" > -->
        <!-- <intent-filter android:priority="2147483647" > -->
        <!-- <action android:name="android.intent.action.PACKAGE_REMOVED" /> -->
        <!-- <action android:name="android.intent.action.PACKAGE_ADDED" /> -->
        <!-- <action android:name="android.intent.action.PACKAGE_REPLACED" /> -->


        <!-- <data android:scheme="package" /> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter android:priority="2147483647" > -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- <action android:name="android.intent.action.PHONE_STATE" /> -->
        <!-- <action android:name="android.intent.action.DATE_CHANGED" /> -->
        <!-- <action android:name="android.intent.action.USER_PRESENT" /> -->
        <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver android:name="com.iLoong.launcher.MList.MyReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter android:priority="1000" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.iLoong.launcher.MList.CooeeMsgReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.com.cooee.phenix" />
            </intent-filter>
        </receiver>
        <!-- ME_RTFSC  end -->


        <!-- 主题 start -->
        <receiver android:name="com.cooee.theme.ThemeReceiver" >
            <intent-filter>
                <action android:name="com.cooee.phenix.launcher.restart" />
                <action android:name="com.cooee.phenix.launcher.apply_theme" />
                <action android:name="com.cooee.launcher.click_theme" />
                <action android:name="com.cooee.launcher.req_resume_time" />
            </intent-filter>
        </receiver>
        <!-- 主题 end -->


        <!-- //luomingjun add start	//桌面时钟 -->
        <receiver
            android:name="com.cooee.phenix.widget.timer.TimeAppWidgetProvider"
            android:icon="@drawable/widget_time_icon"
            android:label="@string/widget_time_title" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_time_info" />

            <intent-filter android:priority="2147483647" >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.qin.action.CHANGE_IMAGE" />
                <action android:name="com.android.timer.BT_REFRESH_ACTION" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIME_TICK" />
            </intent-filter>
        </receiver>
        <!-- //luomingjun add end -->

        <receiver android:name="com.cooee.framework.function.DynamicEntry.DLManager.DLApkReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="com.iLoong.Download.Manager.action.pause" />
                <action android:name="com.iLoong.Download.Manager.action.downing" />
                <action android:name="com.iLoong.Download.Manager.action.removed" />
                <action android:name="com.iLoong.Download.Manager.action.success" />
                <action android:name="com.iLoong.Download.Manager.action.failure" />
                <action android:name="com.cooee.microEntrce.download" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cooee.framework.function.DynamicEntry.DLManager.WifiStateReveiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- //kuso add start -->
        <receiver android:name="cool.sdk.update.manager.UpdateReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter android:priority="1000" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>

            <meta-data
                android:name="updateItem"
                android:value="cool.sdk.search.SearchHelper" />
        </receiver>
        <!-- //kuso add end -->

        <receiver android:name="cool.sdk.SAManager.Receiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >
                <action android:name="cool.sdk.SAManager.action.clickNotify" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cooee.phenix.Functions.DynamicEntry.Dialog.DynamicEntryPresentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- //xiatian add start	//桌面运营某些内置应用的某些界面（详见“BaseDefaultConfig”中说明） -->
        <receiver android:name="com.cooee.framework.function.OperateAPK.OperateAPKManager" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- //xiatian add end	//桌面运营某些内置应用的某些界面（详见“BaseDefaultConfig”中说明） -->


        <!-- update begin -->
        <receiver android:name="com.cooee.update.UpdateWifiStateReveiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <!-- <action android:name="android.net.wifi.STATE_CHANGE" /> -->
                <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
            </intent-filter>
        </receiver>
        <!-- update end -->

        <receiver android:name="com.cooee.statistics.StatisticsSignReciever" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- receiver end -->


        <!-- provider start -->
        <!-- The settings provider contains Home's data, like the workspace favorites -->
        <provider
            android:name="com.cooee.phenix.LauncherProvider"
            android:authorities="com.cooee.phenix.settings"
            android:exported="true"
            android:readPermission="com.cooee.phenix.permission.READ_SETTINGS"
            android:writePermission="com.cooee.phenix.permission.WRITE_SETTINGS" />
        <provider
            android:name="com.cooee.center.pub.provider.PubContentProvider"
            android:authorities="com.cooee.phenix.center.pub.provider"
            android:exported="true" >
        </provider>
        <!-- provider end -->
        <!-- //gaominghui add start //支持通过AIDL切换主题，解决“手机第一次开机，应用主题慢”的问题【c_0004675】 -->
        <service
            android:name="com.iLoong.launcher.theme.ThemeService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.iLoong.launcher.theme.IThemeService" >
                </action>
            </intent-filter>
        </service>
        <!-- //gaominghui add start //支持通过AIDL切换主题，解决“手机第一次开机，应用主题慢”的问题【c_0004675】 -->
    </application>
    <!-- application end -->

</manifest>