<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cooee.weather"
    android:versionCode="0"
    android:versionName="weather.1.0.0.20170412" >

    <uses-sdk android:minSdkVersion="9" />

     <!-- 备注：res中的drawable-xxhdpi资源(天气状况对应的图片)，要拷贝到主工程中，并调用以下接口 start -->
  <!--  WeatherIMG.initResId( R.drawable.weather_data_fog ,
    R.drawable.weather_data_mostcloudy ,
     R.drawable.weather_data_overcast ,
      R.drawable.weather_data_rain ,
       R.drawable.weather_data_snow ,
        R.drawable.weather_data_sunny ,
         R.drawable.weather_data_thunderstorm ,
          R.drawable.weather_data_unknow); -->
    <!-- 备注：res中的资源，要拷贝到主工程中，并调用以下接口 end -->

    <application />

</manifest>