<?xml version="1.0" encoding="utf-8"?>
<resources>

    <interge name="theme_thirdapk_icon_scaleFactor" type="" value="80" />
    <interge name="folder_icon_scale_factor" type="" value="43" />
    <interge name="folder_icon_row_num" type=" " value="2" />
    <interge name="folder_transform_num" type=" " value="4" />
    <interge name="folder_front_margin_offset" type="dip" value="2" />
    <interge name="folder_front_padding_left" type="dip" value="0" />
    <interge name="folder_front_padding_top" type="dip" value="0" />

</resources>