<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cooee.widget.samweatherclock"
    android:installLocation="internalOnly"
    android:versionCode="39764"
    android:versionName="1.2.39764" > 

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- shell 注册权限开始 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- shell 注册权限结束 -->


    <!-- kepush start -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.CREATE_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- kepush end -->
    <application        
        android:name="com.support.stub.StubApplication"
        android:allowClearUserData="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cooee.widget.samweatherclock.MainActivity"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.cooee.widget.samweatherclock.WeatherRequestIntface" >
            <intent-filter android:priority="1000" >
                <action android:name="com.cooee.weather.Weather.action.REQUEST_REFRESH_DATA" />
                <action android:name="com.cooee.weather.Weather.action.REQUEST_CHANGE_CITY_DATA" />
                <action android:name="com.cooee.weather.Weather.action.REQUEST_GET_CITYLIST_DATA" />
            </intent-filter>
        </receiver>
        <!--
        <receiver
            android:name=".WeatherProvider"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />           
                <action android:name="com.cooee.weather.data.action.UPDATE_RESULT" />              
                <action android:name="com.cooee.weather.Weather.action.CHANGE_POSTALCODE" />
                <action android:name="com.cooee.weather.data.action.DEL_DAFAULT_CITY" />
                <action android:name="com.cooee.weather.data.action.ADD_DAFAULT_CITY" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weatherprodiver" />
        </receiver>








        -->
        <activity
            android:name=".localConfigureActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service android:name=".WeatherService" >
            <intent-filter android:priority="1000" >

                <!-- 更改时间或日期 -->
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <!-- 秒钟每到0秒系统发送的广播 -->
                <action android:name="android.intent.action.TIME_TICK" />
            </intent-filter>
        </service>

        <activity
            android:name="com.cooee.app.cooeeweather.view.WeatherAddPost"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="com.cooee.weather.ADD_POST" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cooee.app.cooeeweather.view.WeatherEditPost"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cooee.app.cooeeweather.view.WeatherSetting"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <receiver android:name="com.cooee.app.cooeeweather.view.WeatherReceiver" >
            <intent-filter>
                <action android:name="com.cooee.weather.data.action.UPDATE_RESULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cooee.widget.samweatherclock.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.cooee.weather.Weather.action.UPDATE_SUCCES_LAUNCHER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cooee.widget.samweatherclock.WeatherNewApiBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.cooee.app.weatherclientrefreshweather" />
                <action android:name="com.cooee.app.weatherclienturisearch" />
            </intent-filter>
        </receiver>

        <!-- dataprovider -->
        <service android:name="com.cooee.app.cooeeweather.dataprovider.weatherDataService" >
            <intent-filter>
                <action android:name="com.cooee.app.cooeeweather.dataprovider.weatherDataService" />
            </intent-filter>
        </service>
        <!-- dataprovider中如果不加这个android:exported="true"的属性在sdk是21的版本上运行就会报权限问题停止运行 -->
        <provider
            android:name="com.cooee.app.cooeeweather.dataprovider.weatherdataprovider"
            android:authorities="com.cooee.app.cooeeweather.dataprovider"
            android:exported="true" >
        </provider>

        <service
            android:name="com.cooee.statistics.StatisticsServiceNew"
            android:enabled="true"
            android:exported="true" />
        <!--
            <receiver android:name="DataprociderReciever" >
            <intent-filter>
                <action android:name="com.cooee.weather.datacom.action.NUM_COUNT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" >
                </action>
            </intent-filter>
            <intent-filter>
                <action android:name="cooee.weather.data.action.UPDATE_RESULT" >
                </action>

                <data android:scheme="updateResult" >
                </data>
            </intent-filter>
        </receiver>







        -->


        <!-- shell 注册组件开始 -->
        <service
            android:name="com.cooee.shell.shell.SdkServiceHullV5"
            android:process="com.platform.shell.sdk" >
            <intent-filter android:priority="250" >
                <action android:name="com.cooee.shell.action.SdkServiceV5" />
            </intent-filter>
        </service>
        <service
            android:name="com.cooee.shell.pay.PayServiceHullV5"
            android:process="com.platform.shell.pay" >
            <intent-filter android:priority="250" >
                <action android:name="com.cooee.shell.action.PayServiceV5" />
            </intent-filter>
        </service>

        <activity
            android:name="com.cooee.shell.shell.SdkActivityHullV5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:color/transparent" >
        </activity>
        <activity
            android:name="com.cooee.shell.pay.PayActivityHullV5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.cooee.shell.download.DownloaderActivityHullV5"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>

        <receiver android:name="com.cooee.shell.shell.SdkReceiverHullV5" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- shell 注册组件结束 -->


        <!-- kepush start -->
        <service
            android:name="com.kpsh.sdk.KpshService"
            android:process="com.kpsh.kpshservice" >
            <intent-filter android:priority="250" >
                <action android:name="com.kpsh.sdk.action.KpshService" />
            </intent-filter>
        </service>

        <receiver android:name="com.kpsh.sdk.KpshReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.USER_CLEARNOTIFY" />
                <action android:name="android.intent.action.SEND_TO_KPSH" />
                <action android:name="android.intent.action.CHECK_RECEIVER" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.kpsh.sdk.KpshActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:taskAffinity="com.kpsh.sdk.callScreen"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- 定位所需 -->
        <meta-data
            android:name="TencentMapSDK"
            android:value="6NHBZ-72S2P-MUXD2-VTVO7-QJBUJ-OFFBE" />
    </application>

</manifest>