//================文件夹的配置说明====================
//	r1	数字	入口ID [入口ID是客户端标示或者定位入口的唯一ID。]
//  r2  类型：1：文件夹 2：应用程序 3：网页链接
//	r3	字符	英文名称
//	r4	字符	中文名称
//	r5	字符	繁体名称
//	r6	数字	应用程序列表 0:不显示 1:显示
//	r7	数字	桌面 0:不显示 1:显示
//	r8	数字	快捷方式显示屏幕位置x
//	r9	数字	快捷方式显示屏幕位置y
//	r10	字符	图标地址url
//	r11	字符	网页链接入口url地址或packname
//  r12 数字    是否显示N标
//==============文件夹中图标的配置说明==================
//  f0   字符类型：2：应用程序  3：网页链接
//	f1	  字符	应用程序包名
//	f2	  字符	下载的时候文字提示
//	f3	  字符	应用版本号
//	f4	  字符	版本名称
//	f5	  数字	APK 文件大小
//	f6	  字符	中文名
//	f7	  字符	英文名
//	f8	  符	繁体名
//	f9	  字符	icon
//  f100 字符 图片的文件名（图片必须放在assets/operate_folder/icon中）
{
	"616":
	{
	"folder":
		[
			{
			"f6":"全民泡泡龙:星运女神",
			"f7":"A bubble: Star goddess",
			"f8":"全民泡泡龙:星运女神",
			"f9":"",
			"f11":"com.hq.bubble.jy",
			"f10":4,
			"f1":"com.hq.bubble.jy",
			"f0":"2",
			"f3":"1001006",
			"f2":"十二星座一起打泡泡，看看谁更有实力，踢走扫把星，把你的运气刷到爆，快参与进来吧！",
			"f5":6091,
			"f100":com.hq.bubble.jy.png,
			"f4":"1.1.6"
			},
			{
			"f6":"Coloring for Kid",
			"f7":"Coloring for Kid",
			"f8":"Coloring for Kid",
			"f9":"",
			"f11":"com.polaris.coloringforkids",
			"f10":4,
			"f1":"com.polaris.coloringforkids",
			"f0":"2",
			"f3":"10617120",
			"f2":"A children''s coloring software",
			"f5":5998,
			"f100":com.polaris.coloringforkids.png,
			"f4":"1.0.617120"
			},
			{
			"f6":"搜狗搜索",
			"f7":"Sogou search",
			"f8":"搜狗搜索",
			"f9":"",
			"f11":"com.sogou.activity.src",
			"f10":4,
			"f1":"com.sogou.activity.src",
			"f0":"2",
			"f3":"3300",
			"f2":"看微信头条，只在搜狗搜索",
			"f5":6724,
			"f100":com.sogou.activity.src.png,
			"f4":"3.3.0.0"
			}
		],
		"r6":1,
		"r7":1,
		"r8":1,
		"r9":3,
		"r1":616,
		"r12":1,
		"r2":"1",
		"r11":"",
		"r3":"six",
		"r10":"",
		"r4":"文件夹",
		"r5":"問"
	}
}